body, html {
    background-color: #F8F9F9;
    height: 100%;
   }
   h3, h4 {
    font-family: 'Merriweather', serif;
   
   }
   .header {
    padding-top: 50px;
    padding-bottom: 50px;
   }
   .product-img {
    width: 265px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
   }
   .item-title {
    font-size: 1.5rem;
    font-weight: 500;
 font-family: 'Merriweather', serif;
 height: 70px;
}